azure-core==1.34.0
azure-storage-blob==12.25.1 
apscheduler==3.11.0 
cffi==1.17.1 
fastapi==0.115.12 
h5py==3.11.0 
h11==0.16.0 
isodate==0.7.2 
numpy==1.24.4 
packaging==25.0 
protobuf==4.25.7 
psycopg2-binary==2.9.9 
pydantic==2.11.4 
pydantic_core==2.33.2 
python-dotenv==1.1.0 
six==1.17.0 s
qlalchemy==2.0.41 
starlette==0.46.2 
tensorflow==2.17.0 
tzlocal==5.3.1 
uvicorn==0.34.2 
anyio==4.9.0